.btnBlue {
  background-color: #003d66;
  padding: 5px;
  border: none;
  color: #fff;
  border-radius: 3px;
  box-shadow: 2px 3px #ccc;
}
.btnGreen {
  background-color: #009933;
  padding: 5px;
  border: none;
  color: #fff;
  border-radius: 3px;
  box-shadow: 2px 3px #ccc;
}
.btnGray {
  background-color: #777;
  padding: 5px;
  border: none;
  color: #fff;
  border-radius: 3px;
  box-shadow: 2px 3px #ccc;
}

.btnBlue:active,
.btnGreen:active,
.btnGray:active {
  box-shadow: 0 0 #ccc;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer input {
  margin: 10px;
  height: 30px;
  width: 300px;
  padding: 5px;
}
