.MemberForm {
  padding-top: 100px;
}

.MemberForm input {
  margin: 15px;
  height: 35px;
  width: 270px;
  border-radius: 20px;
  border: 0px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #eee;
}

.mainBtn,
.mainBtnGray {
  background: rgb(96, 228, 43);
  background: linear-gradient(
    90deg,
    rgba(96, 228, 43, 1) 0%,
    rgba(63, 224, 127, 1) 67%
  );
  border-radius: 3px;
  box-shadow: 2px 3px 3px #ccc;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.mainBtn,
.mainBtnGray:active {
  box-shadow: 0;
}

.mainBtnGray {
  background: #ccc;
  color: #555;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
