*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; //10px
    background: rgb(2,0,36);
    background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(168,201,184,1) 0%, rgba(236,240,241,1) 100%);
}

body{
    font-family:  'Titillium Web' ,sans-serif;
    margin: 1rem;
}

input{
    margin: 0 0 0 35%;
    width: 65%;
    height: 50%;
    font-size: 1.5rem;
    background-color: #ecf0f1;
}

p{
    margin: 0 0 0 35%;  
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.filler{
    width: 8rem;
}

@media screen and (orientation:portrait) {
    html{
        background: linear-gradient(120deg, rgba(168,201,184,1) 0%, rgba(168,201,184,1) 0%, rgba(168,201,184,1) 100%);
    }
    .App{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    }
    .Person{
        width: 50rem;
    }
}