*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5% //10px
}

body{
    font-family:  'Titillium Web' ,sans-serif;
    margin: 1rem;
}

input{
    margin: 0 5rem 0 5rem;
    width: 65%;
    font-size: 1.5rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}
.text{
    margin: 0 5rem 0 5rem;
    width: 65%;
    font-size: 1.5rem;
}

.filler{
    width: 8rem;
}