*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5% //10px
}

body{
    font-family:  'Titillium Web' ,sans-serif;
    margin: 1rem;
}

input{
    margin: 0 2rem 0 2rem;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
.text{
    margin: 0 5rem 0 5rem;
    text-align: left;
    max-width: 75rem;
}