.Members {
  margin-top: 150px;
  margin-left: 150px;
}
.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .gridContainer {
    flex-direction: column;
  }
  .Members {
    margin-left: 0;
  }
  .MemberForm {
    margin-top: -50px;
  }
}
@media only screen and (max-width: 700px) {
  .Members {
    margin: 100px 0 50px 0;
    width: 85%;
  }
}
.alertText {
  color: #555;
  font-style: italic;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
