.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexContainer input {
  margin: 10px;
  height: 30px;
  width: 300px;
  padding: 5px;
  border: none;
  box-shadow: 3px 5px 10px #ccc;
}
.alertText {
  color: #555;
  font-style: italic;
}
