.TeamItem {
  margin-top: 10px;
}
.TeamItem i {
  margin-left: 15px;
  cursor: pointer;
}

.activeTeam {
  text-decoration: underline;
  color: aqua;
}
.inactiveTeam {
  text-decoration: none;
  color: blue;
}
