.TeamItem {
  max-width: 400px;
  min-width: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-bottom: solid 1px #555;
}
.TeamItem:first-child {
  border-top: solid 1px #555;
}
.TeamItem i {
  margin-left: 15px;
  cursor: pointer;
}

.activeTeam {
  color: #0000cc;
  text-decoration: none;
}
.inactiveTeam {
  text-decoration: none;
  color: #99b3e6;
}

.actionBtn:focus,
.actionBtn:active {
  outline: 1px solid #555;
  border-radius: 50%;
}
