/* Reusable Buttons */

.btn{
    font-family: inherit;
    border-radius: 3rem;
    box-shadow: 0 .2rem .3rem $color-light-gray;
    padding: 1.5rem;
    margin: 1rem;

    &--dark-gray{
        background-color: $color-dark-gray;
        color: $color-white;
        border: solid $color-dark-gray .15rem;
    }

    &--light-gray{
        background-color: $color-light-gray;
        color: $color-black;
        border: solid $color-dark-gray .15rem;
    }
    &--red{
        background-color: $color-red;
        color: $color-black;
        border: solid $color-dark-gray .15rem;
        margin: .1;
    }

    &:hover{
        transform: translate(-1.5px, -1.5px);
        box-shadow: .3rem .3rem 1rem $color-light-gray;
    }
    &:active{
        transform: translate(1.5px, 1.5px);
        box-shadow: 0 .2rem .3rem $color-light-gray;
    }

}