/* React Components */
.Person{
    width: 50rem;
    margin: .5rem auto;
    border: solid $color-light-gray .1rem;
    box-shadow: 0 .2rem .3rem $color-dark-gray;
    padding: 1.7 rem;
    text-align: center;

}