.NavBar {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #025085;
  box-shadow: 0 2px 3px #555;
}
.flexContainer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.titleContainer {
  display: flex;
  height: 100%;
  width: 50%;
  margin-left: 20px;
  align-items: center;
  justify-content: flex-start;
}
.title {
  font-size: 2.4rem;
  margin-left: 7px;
  color: #fff;
}
ul {
  display: flex;
  height: 100%;
  width: 50%;
  margin: 0 10% 0 0;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}
ul li {
  margin-left: 30px;
}
.navLink {
  text-decoration: none;
  color: #fff;
}
.navLink:hover {
  text-decoration: underline;
}
