.cardDark {
  width: 450px;
  margin: 10px auto;
  background-color: #eee;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 3px #aaa;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.flexContainer {
  display: flex;
  flex-direction: column;
}
.badgeBlue {
  height: 30px;
  width: fit-content;
  padding: 4px;
  background-color: #003d66;
  border-radius: 5px;
}
.badgeGreen {
  height: 30px;
  width: fit-content;
  padding: 4px;
  background-color: #009933;
  border-radius: 5px;
}
.flexIcon {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.btnBlue {
  background-color: #003d66;
  padding: 5px;
  border: none;
  color: #fff;
  border-radius: 3px;
  box-shadow: 3px 5px 10px #ccc;
}
.btnRed {
  background-color: #ff5c33;
  padding: 5px;
  border: none;
  color: #fff;
  border-radius: 3px;
  box-shadow: 3px 5px 10px #ccc;
}
.btnBlue:active,
.btnRed:active {
  box-shadow: 0 0 #ccc;
}
